.commentsContainer {
  margin-top: 16px;
}

.comment {
  background-color: #ffffff; /* Choose a light color for the card background */
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  border-radius: 8px; /* Rounded corners for the card */
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center; /* Align items in the center vertically */
  gap: 10px; /* Space between the image and the text */
}

.commentHeader {
  flex-grow: 1; /* Allow the header to take up as much space as possible */
}

.commentFullName {
  font-weight: bold;
  color: #333; /* Dark text for better readability */
}

.commentText {
  color: #555; /* Slightly lighter text for the comment body */
  margin-top: 4px;
}

.commentDeleteButton {
  color: #999; /* A subtle color for the delete button */
  transition: color 0.3s ease; /* Transition for hover effect */
}

.commentDeleteButton:hover {
  color: #e53935; /* A reddish color when hovered for emphasis */
}

.commentIcon {
  font-size: 1rem; /* Adjust icon size as needed */
}
.commentImageWrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 2px solid #ddd; /* Light grey border */
}
